<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Find all by month</title>
</head>
<body>
<h2>Find all by month</h2>
<form action="./period" method="get">  
		Month: <input name="month" type="text">
		<input type="submit" value="Find"> 
	</form>
	<a th:href="@{/MVC/}">Main Page</a>
	<p th:text="${error}"></p>
</body>
</html>