<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Final project</title>
</head>
<body>
<h3>Momentum</h3>
<ul>
	<li><a th:href="@{/MVC/init}">Init</a></li>
	<li><a th:href="@{/MVC/IsMonth}">Find by Is and month</a></li>
	<li><a th:href="@{/MVC/IsPeriod}">Find by Is and period</a></li>
	<li><a th:href="@{/MVC/AllMonth}">Find all by month</a></li>
	<li><a th:href="@{/MVC/AllPeriod}">Find all by period</a></li>
	</ul>
</body>
</html>