<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Find by is and month</title>
</head>
<body>
	<h2>Find by is and month</h2>
	<form action="./users" method="get">
		is: <input name="is" type="text">  
		Month: <input name="month" type="text">
		<input type="submit" value="Find"> 
	</form>
	<a th:href="@{/MVC/}">Main Page</a>
	<p th:text="${error}"></p>
</body>
</html>