<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Find by is and period</title>
</head>
<body>
<h2>Find by is and period</h2>
	<form action="./users" method="post">
		is: <input name="is" type="text">  
		Start: <input name="start" type="text" placeholder="YYYY-MM-DD">
		End: <input name="end" type="text" placeholder="YYYY-MM-DD">
		<input type="submit" value="Find"> 
	</form>
	<a th:href="@{/MVC/}">Main Page</a>
	<p th:text="${error}"></p>
</body>
</html>