<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee data by period</title>
</head>
<body>
	<h2>Employee data by period</h2>
	<ul>
		<li th:text=${emp.name}>Is</li>
	</ul>
	<table>
		<tr>
			<th>Check In</th>
			<th>Check Out</th>
		</tr>
		<tr th:each="workday : ${emp.workDays}">
			<td th:text=${workday.checkIn}>
			<td th:text=${workday.checkOut}>
		</tr>
	</table>
	<a th:href="@{/MVC/}">Main Page</a>
</body>
</html>