<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee data by month</title>
</head>
<body>
	<h2>Employee data by month</h2>
	<table>
		<tr>
			<th>Is</th>
			<th>Month</th>
			<th>Hours</th>
		</tr>
		<tr>
			<td th:text=${is}></td>
			<td th:text=${Month}></td>
			<td th:text=${Hours}></td>
		</tr>
	</table>
	<a th:href="@{/MVC/}">Main Page</a>
</body>
</html>