<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All data by period</title>
</head>
<body>
	<h2>All data by period</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Employee IS</th>
				<th>Date In</th>
				<th>Date Out</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : *{employees}">
				<td th:text="${employee.name}"></td>
				<td>
					<ul class="list-unstyled" th:each="workday : ${employee.workDays}">
						<li th:text="${workday.checkIn}"></li>
					</ul>
				</td>
				<td>
					<ul class="list-unstyled" th:each="workday : ${employee.workDays}">
						<li th:text="${workday.checkOut}"></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/MVC/}">Main Page</a>
</body>
</html>